@mixin reset {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin dictu-list {
  @include reset;

  padding-inline-start: var(--govnl-list-prefix);
}

@mixin dictu-list--ordered {
  list-style-type: decimal;
}

@mixin dictu-list--unordered {
  list-style-type: disc;
}

@mixin dictu-list--icon {
  @include reset;

  --govnl-icon-size: var(--nl-icon-size);

  padding-inline-start: var(--govnl-list-prefix);

  &:not(& &) {
    padding-inline-start: 0;
  }
}

@mixin dictu-list__item {
  margin-block: calc(var(--govnl-list-gap) / 2);
  padding-inline-start: var(--govnl-list-list-item-gap);
}

@mixin dictu-list__item--icon {
  margin-block: calc(var(--govnl-list-gap) / 2);
}

@mixin dictu-list__item-content {
  margin-block: calc(var(--govnl-list-gap) / 2);
  padding-inline-start: var(--govnl-list-list-item-gap);
}

@mixin dictu-list__list-icon {
  align-items: center;
  block-size: 1.5em; // Replace with design token when available
  display: inline-flex;
  inline-size: 1.5em; // Replace with design token when available
  justify-content: center;
}
