/* Font faces for FiraSans WOFF2 fonts */
@font-face {
  font-display: swap;
  font-family: RijksSans;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/FiraSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: RijksSans;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/FiraSans-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: RijksSans;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/FiraSans-Italic.woff2") format("woff2");
}

/* Set Fira Sans as the default font family for the entire Storybook */
body {
  font-family: RijksSans, system-ui, sans-serif;
}
