@mixin reset {
  margin: 0;
  margin-inline: 0;
  padding: 0;
  padding-inline: 0;
}

@mixin dictu-accordion {
  // Doesn't appear to have a design token yet..
  // Don't want to hard link to core.
  border-block-end: 1px solid #94a3b8;
}

@mixin dictu-accordion-heading {
  @include reset;
}

@mixin dictu-accordion-button {
  --govnl-button-subtle-background-color: var(--govnl-accordion-button-background-color);
  --govnl-button-subtle-padding-inline-start: var(--govnl-accordion-button-padding-inline-start);
  --govnl-button-subtle-padding-inline-end: var(--govnl-accordion-button-padding-inline-end);
  --govnl-button-subtle-padding-block-start: var(--govnl-accordion-button-padding-block-start);
  --govnl-button-subtle-padding-block-end: var(--govnl-accordion-button-padding-block-end);
  --govnl-button-padding-block-start: var(--govnl-accordion-button-padding-block-start);
  --govnl-button-padding-block-end: var(--govnl-accordion-button-padding-block-end);
  --govnl-button-subtle-color: var(--govnl-accordion-button-color);
  --govnl-button-subtle-hover-background-color: var(--govnl-accordion-button-hover-background-color);
  --govnl-button-subtle-hover-border-color: var(--govnl-accordion-button-hover-border-color);
  --govnl-button-subtle-hover-color: var(--govnl-accordion-button-hover-color);
  --govnl-button-subtle-active-background-color: var(--govnl-accordion-button-active-background-color);
  --govnl-button-subtle-active-border-color: var(--govnl-accordion-button-active-border-color);
  --govnl-button-subtle-active-color: var(--govnl-accordion-button-active-color);
  --govnl-button-subtle-focus-background-color: var(--govnl-accordion-button-focus-background-color);
  --govnl-button-subtle-focus-border-color: var(--govnl-accordion-button-focus-border-color);
  --govnl-button-subtle-focus-color: var(--govnl-accordion-button-focus-color);
  --govnl-button-subtle-border-color: var(--govnl-accordion-button-border-color);
  --govnl-button-subtle-border-width: var(--govnl-accordion-button-section-border-width);
  --govnl-button-icon-gap: var(--govnl-accordion-button-gap);
  --govnl-icon-size: var(--govnl-accordion-button-icon-size);
  --govnl-icon-color: var(--govnl-accordion-button-icon-color);
  --govnl-button-padding-inline-end: var(--govnl-icon-size);
  --govnl-button-justify-content: space-between;

  font-family: var(--govnl-accordion-button-font-family);
  font-size: var(--govnl-accordion-button-font-size);
  font-weight: var(--govnl-accordion-button-font-weight);
  inline-size: 100%;
  line-height: var(--govnl-accordion-button-line-height);
  text-align: start;

  &[aria-expanded="true"] {
    svg {
      transform: rotate(180deg);
    }
  }
}

@mixin dictu-accordion-body {
  border-color: var(--govnl-accordion-body-border-color);
  border-style: solid;
  border-width: var(--govnl-accordion-body-border-width);
  font-family: var(--govnl-accordion-body-font-family);
  font-size: var(--govnl-accordion-body-font-size);
  font-weight: var(--govnl-accordion-body-font-weight);
  padding-block: var(--govnl-accordion-body-padding-block-start) var(--govnl-accordion-body-padding-block-end);
  padding-inline: var(--govnl-accordion-body-padding-inline-start) var(--govnl-accordion-body-padding-inline-end);
}
