@use "./mixin" as mixin;

.dictu-accordion {
  @include mixin.dictu-accordion;
}

.dictu-accordion__heading {
  @include mixin.dictu-accordion-heading;
}

.dictu-accordion__button {
  @include mixin.dictu-accordion-button;
}

.dictu-accordion__body {
  @include mixin.dictu-accordion-body;
}
