@use "pkg:@dictu/design-tokens/dist/grid.css" as design-tokens;

@mixin reset {
  margin-block: 0;
  margin-inline: 0;
}

@mixin dictu-grid {
  @include reset;

  display: grid;
  gap: var(--govnl-grid-gap-row-max) var(--govnl-grid-gap-column-max);
  grid-template-rows: var(--govnl-grid-template-rows-auto);

  @media (width <= 48em) {
    gap: var(--govnl-grid-gap-row-min) var(--govnl-grid-gap-column-min);
  }
}

@mixin grid-columns($columns) {
  grid-template-columns: var(--govnl-grid-template-columns-col-#{$columns});
}
