@mixin dictu-focus-ring {
  outline: var(--govnl-focus-outline-color, revert) var(--govnl-focus-outline-style, revert)
    var(--govnl-focus-outline-width, revert);
  outline-offset: var(--govnl-focus-outline-offset, revert);
  z-index: 1;
}

@mixin dictu-focus-visible {
  @include dictu-focus-ring;
}
