@use './mixin.scss' as mixin;

// Import child component styles to make page-footer self-contained
@use 'pkg:@dictu/heading/src/index' as heading;
@use 'pkg:@dictu/paragraph/src/index' as paragraph;
@use 'pkg:@dictu/link-list/src/index' as link-list;
@use 'pkg:@dictu/link/src/index' as link;
@use 'pkg:@dictu/icon/src/index' as icon;

.dictu-page-footer {
  @include mixin.dictu-page-footer;
}

.dictu-page-footer__container {
  @include mixin.dictu-page-footer__container;
}

.dictu-page-footer__text-container {
  @include mixin.dictu-page-footer__text-container;
}

.dictu-page-footer__columns {
  @include mixin.dictu-page-footer__columns;
}

.dictu-page-footer__column {
  @include mixin.dictu-page-footer__column;
}
