@mixin reset-ul() {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

@mixin reset-li() {
  list-style: none;
}

@mixin dictu-link-list {
  --govnl-icon-inset-block-start: var(--govnl-link-list-icon-inset-block-start);
  --govnl-icon-size: var(--govnl-link-list-icon-size);
  --govnl-link-icon-size: var(--govnl-link-list-icon-size);
  --govnl-link-text-decoration: var(--govnl-link-list-link-text-decoration, none);

  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  margin-block-start: 0;
  row-gap: var(--govnl-link-list-row-gap);
}

@mixin dictu-link-list__item {
  display: block;
}

@mixin dictu-link-list__link {
  align-items: center;
  column-gap: var(--govnl-link-list-link-column-gap);
  display: inline-flex;
  font-weight: var(--govnl-link-list-link-font-weight);
}
