// NOTE: This component may change in future updates

@mixin reset {
  margin: 0;
  margin-inline: 0;
  padding: 0;
  padding-inline: 0;
}

@mixin reset-li {
  list-style: none;
}

@mixin dictu-timeline {
  background-color: var(--govnl-timeline-background-color);
  border-color: var(--govnl-timeline-border-color);
  padding-block: var(--govnl-timeline-padding-block-start) var(--govnl-timeline-padding-block-end);
  padding-inline: var(--govnl-timeline-padding-inline-start) var(--govnl-timeline-padding-inline-end);
}

@mixin dictu-timeline-title {
  margin-block: 0;
  margin-inline: 0;
  padding-block: var(--govnl-timeline-title-padding-block-start) var(--govnl-timeline-title-padding-block-end);
}

@mixin dictu-timeline-body {
  @include reset;
  @include reset-li;

  padding-block: var(--govnl-timeline-padding-block-start) var(--govnl-timeline-padding-block-end);
}

@mixin dictu-timeline-sublist {
  @include reset;
  @include reset-li;

  position: relative;
}

@mixin dictu-timeline-element-content-wrapper {
  padding-inline-start: calc(var(--govnl-timeline-padding-inline-start) / 2);
  position: relative;
}

@mixin dictu-timeline-element-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  // calc moet eruit, oplossing voor verzinnen.
  padding-inline-start: calc(var(--govnl-timeline-padding-inline-start) + 16px);
}

@mixin dictu-timeline-element-button {
  --govnl-button-border-width: 0;

  &.dictu-button {
    --govnl-button-border-width: 0;
  }
}

@mixin dictu-timeline-element-heading-content {
  align-items: center;
  display: inline-flex;
  gap: var(--govnl-timeline-content-column-gap);
  justify-content: start;
}

@mixin dictu-timeline-element-heading {
  @include reset;

  text-decoration: var(--govnl-timeline-heading-text-decoration);

  &:hover {
    text-decoration: var(--govnl-timeline-heading-hover-text-decoration);
  }
}

@mixin dictu-timeline-connector {
  background-color: var(--govnl-timeline-connector-color);
  content: "";
  display: block;
  height: 100%;
  margin-inline-start: var(--govnl-timeline-connector-margin-inline-start);
  position: absolute;
  top: 0;
  width: 2px;
}

@mixin dictu-timeline-connector-start {
  top: 50%;
}

@mixin dictu-timeline-connector-end {
  height: 50%;
}

@mixin dictu-timeline-icon {
  align-items: center;
  color: var(--govnl-icon-color);
  display: flex;
  height: var(--govnl-icon-size);
  justify-content: center;
  width: var(--govnl-space-lg);
  z-index: 1;
}

@mixin dictu-timeline-icon-expanded {
  transform: rotate(45deg);
}

@mixin dictu-timeline-heading-icon {
  --govnl-dictu-icon-size: 32px;
}

@mixin dictu-timeline-subheading-icon {
  --govnl-dictu-icon-size: 24px;
}

@mixin dictu-timeline-item {
  .dictu-timeline__element-heading-body::before {
    @include dictu-timeline-connector;
  }

  &:first-child {
    .dictu-timeline__element-heading-body::before {
      @include dictu-timeline-connector-start;
    }
  }

  &:first-child:last-child {
    &:not(:has(.dictu-timeline__sub-list:not([hidden]))),
    &:has(.dictu-timeline__sub-list[hidden]) {
      .dictu-timeline__element-heading-body::before {
        display: none;
      }
    }
  }

  &:last-child {
    &:not(:has(.dictu-timeline__sub-list:not([hidden]))) {
      .dictu-timeline__element-heading-body::before {
        @include dictu-timeline-connector-end;
      }

      .dictu-timeline__element-content-wrapper::before {
        display: none;
      }
    }

    &:has(.dictu-timeline__sub-list:not([hidden])) {
      .dictu-timeline__sub-item:last-child {
        .dictu-timeline__element-heading-body::before {
          @include dictu-timeline-connector-end;
        }

        .dictu-timeline__element-content-wrapper::before {
          display: none;
        }
      }
    }
  }

  .dictu-timeline__element-content-wrapper::before {
    @include dictu-timeline-connector;
  }

  .dictu-timeline__sub-list .dictu-timeline__element-heading-body::before {
    @include dictu-timeline-connector;
  }
}
